 body{
    align-content: center;
    text-align: center;
    background-color: hsl(0, 1%, 96%);
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
.showerbaths{
 border: 10px solid hsla(0, 1%, 71%, 0);
}