.form{
  display: flex;
    flex-direction:column;
    width: 300px;
   margin: auto;
}
.name{
  display: flex;
  flex-direction: row;
  margin-left: auto;
  width: 300px;
  margin: auto;
  justify-content: space-between;
}
details{
  display: flex;
  flex-direction: column;
  margin-left: auto;
  width: 300px;
  margin: auto;
  justify-content: space-between;
}
#Adetails,  #Tdetails{
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
  font-weight: bold;
  color: black;
  display: flex;
  margin-left: auto;
  position: left;
}