.form{
  display: flex;
    flex-direction:column;
    width: 300px;
   margin: auto;
}
.name{
  display: flex;
  flex-direction: row;
  width: 300px;
  margin: auto;
  justify-content: space-between;
}