

.tap{
  border: 1px solid hsl(0, 1%, 71%);
    border-radius: 10px;
    box-shadow: 5px 5px 5px hsl(0, 1%, 71%);
    padding: 20px;
    margin: 20px;
    text-align: center;
    max-width: max-content;
    max-height: max-content;
    display: inline-block;
}

.tap .tapImage{
  width: 200px;
  height: 200px;
}