#title{
  font-size: 1.5em;
  font-family: Arial, sans-serif;
  text-align: flex-start;
  display: flex;
  border: 2px solid hsl(0, 4%, 91%);
  padding: 10px;
  margin: 20px;
  border-radius: 10px;
  background-color: hsl(0, 1%, 98%);
  color: hsl(0, 1%, 20%);
  font-weight: bold;
  max-width: fit-content;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
 text-decoration: none;
  
}

#nav{
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  margin: 20px;
  padding: 10px;
  border-radius: 10px;
  gap: 20px;
  margin-top: 20px;
}

.header-c{

  border: 2px solid hsl(0, 0%, 0%);
  border-radius: 10px;
  color: hsl(0, 1%, 20%);
  background-color: hsl(0, 1%, 98%);
  padding: 10px;
  font-family: Arial, sans-serif;
  font-weight: bold;
 
 
  cursor: pointer;

}

#nav-list{
  color: hsl(0, 1%, 20%);
  font-style: italic;
  border: 100px solid hsl(0, 1%, 98%);
}
