#title{
  font-size: 1.5em;
  font-family: Arial, sans-serif;
  text-align: left;
  display: flex;
 
  
}

#nav{
  display: flex;

  gap: 20px;
  margin-top: 20px;
}

.header-c{

  border: 2px solid hsl(0, 1%, 71%);
}
