#title{
font-size: 1.3em;
font-weight: bold;
text-align: left;
margin: auto;
border: 10px solid hsl(0, 1%, 71%);
max-width: fit-content;
align-content:start ;
  
}

#nav{
  display: flex;
  justify-content: center; /* centers the nav list horizontally */
  background-color: #f5f5f5; /* optional: background for nav bar */
  padding: 1rem 0; /* optional: spacing inside the navbar */
}

.header-c{

  border: 2px solid hsl(0, 0%, 0%);
  border-radius: 10px;
  color: hsl(0, 1%, 20%);
  background-color: hsl(0, 1%, 98%);
  padding: 10px;
  font-family: Arial, sans-serif;
  font-weight: bold;
 
 
  cursor: pointer;

}

#nav-list {
  list-style: none; 
  font-size: 1.2em;
  font-weight: bold;
  text-align: center;
  align-items: center;
  display: flex; 
  gap: 2rem; 
  padding: 0;
  margin: 0;
  color: hsl(0, 1%, 20%);
  font-style: italic;
  font-family: Arial, sans-serif;
}

#nav-list li a {
  text-decoration: none;
  color: hsl(0, 1%, 20%);
  transition: color 0.3s ease;
}

#nav-list li a:hover {
  color: hsl(0, 1%, 40%); 
}
