#title{
  font-size: 2em;
  font-family: Arial, sans-serif;
  text-align: center;
  
}

#nav{
  display: flex;

  gap: 20px;
  margin-top: 20px;
}

.card{
  border: 1px solid hsl(0, 1%, 71%);
  border-radius: 10px;
  box-shadow: 5px 5px 5px hsl(0, 1%, 71%);
  padding: 20px;
  margin: 20px;
  text-align: center;
  max-width: 250px;
  max-height: 550px;
  display: inline-block;
}
.card.card-image{
  max-width: 20%;
  height: auto;
}