#container {
  display: flex;          /* Align children in a row */
  align-items: center;    /* Make them vertically level */
  gap: 10px;              /* Space between elements */
}


#input {
  font-weight: bold;
  border: 1px solid #ccc; 
  padding: 8px;
  display: flex;
}

#Button {
  cursor: pointer;
  font-weight: bold;
  border: 1px solid #ccc;
  padding: 8px 12px;
  background: white;
}

#Button:hover {
  background-color: hsl(0, 1%, 60%);
}

#title a {
  font-size: 1em;
  font-weight: bold;
  text-decoration: none;
  color: hsl(0, 0%, 10%);
  font-family: Arial, sans-serif;
  margin: auto;
}


/* Remove default link colors for all states */
#title a:link,
#title a:visited,
#title a:hover,
#title a:active {
  text-decoration: none;
  color: hsl(0, 0%, 10%);
}


#nav{
  display: flex;
  justify-content: center; /* centers the nav list horizontally */
  background-color: #f5f5f5; /* optional: background for nav bar */
  padding: 1rem 0; /* optional: spacing inside the navbar */
  border: 1px solid hsl(0, 1%, 71%);
}



#nav-list {
  list-style: none; 
  font-size: 1.2em;
  font-weight: bold;
  text-align: center;
  align-items: center;
  display: flex; 
  gap: 2rem; 
  padding: 0;
  margin: 0;
  color: hsl(0, 1%, 20%);
  font-style: italic;
  font-family: Arial, sans-serif;
}

#nav-list li a {
  text-decoration: none;
  color: hsl(0, 1%, 20%);
  transition: color 0.3s ease;
}

#nav-list li a:hover {
  color: hsl(0, 1%, 40%); 
}

